<template>
    <div class="row my-3 mx-auto">
        <h2>Formulaire d'ajout</h2>
        <form @submit.prevent="onSubmit">
            <div class="row">
                <div class="col">
                    <label class="form-label" for="ajoutNom">Nom</label>
                    <input required maxlength="255" id="ajoutNom" class="form-control" v-model="hero.nom" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label" for="ajoutHp">HP</label>
                    <input required min="1" id="ajoutHp" class="form-control" v-model="hero.hp" type="number" />
                </div>
                <div class="col">
                    <label class="form-label" for="ajoutHpMax">HPMax</label>
                    <input required min="1" id="ajoutHpMax" class="form-control" v-model="hero.hpMax" type="number" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label" for="ajoutAtq">Attack</label>
                    <input required min="0" id="ajoutAtq" class="form-control" v-model="hero.atq" type="number" />
                </div>
                <div class="col">
                    <label for="ajoutDef" class="form-label">Defense</label>
                    <input required min="0" id="ajoutDef" class="form-control" v-model="hero.def" type="number" />
                </div>
            </div>
            <button class="btn btn-primary mt-2" @click="ajouter">Ajouter</button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            hero: { nom: "", hp: 1, atq: 1, def: 1, hpMax: 1 }
        }
    },


    methods: {
        ajouter() {
            axios.post('/aventurier', this.hero)
                .then((truc) => {
                    // window.location.reload();
                    this.$emit("maj");
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    }
}
</script>
