<template>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{ hero.nom.toUpperCase() }}</h4>
                <div class="progress my-2" role="progressbar" :aria-label="'Hp de ' + hero.nom" :aria-valuenow="hero.hp"
                    aria-valuemin="0" :aria-valuemax="hero.hpMax">
                    <div :class="hero.hp > hero.hpMax / 2 ? 'bg-success' : 'bg-danger'" class="progress-bar"
                        :style="'width:' + hero.hp / (hero.hpMax / 100) + '%'"></div>
                </div>
                <div class="card-text">
                    <h5>Attributs</h5>
                    <ul class="list-group">
                        <li class="list-group-item"> <b>Attaque</b> :{{ hero.atq }} </li>
                        <li class="list-group-item"> <b>Defense</b> : {{ hero.def }} </li>
                    </ul>
                    <h5>Arme</h5>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div v-if="this.hero?.arme" class="ms-2 me-auto">
                                <div :style="'color:' + hero.arme.qualite.couleur" class="fw-bold">
                                    {{ nomArme }}</div>
                            </div>
                            <div v-else class="ms-2 me-auto">Pas d'arme</div>
                        </li>

                    </ul>
                </div>
                <button @click="$emit('remplir', hero)" class="btn btn-primary my-2">Modifier</button>
                <button @click="supp" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["hero"],
    computed: {
        nomArme() {
            return ` ${this.hero.arme.typeArme.type} ${this.hero.arme.qualite.nom} +${this.hero.arme.qualite.bonus}`
        }
    },
    methods: {
        supp() {
            axios.delete("/aventurier/" + this.hero.id).then((responseHttp) => {
                console.log(responseHttp);
                this.$emit("maj");
            })
        }
    }
}
</script>