<script>
import HeroCard from './components/HeroCard.vue';
import HeroForm from './components/HeroForm.vue';
import HeroModif from './components/HeroModif.vue';

export default {
  components: { HeroCard, HeroForm, HeroForm, HeroModif },
  data() {
    return {
      heros: [],
      dataHeroModif: null
    }
  },
  mounted() {
    this.rafraichir()
    // axios.get('/aventurier')
    //   .then((response) => {
    //     // handle success
    //     console.log(response)
    //     this.heros = response.data;
    //     //TODO Recupere les données et les mettre dans heros
    //   })
    //   .catch((error) => {
    //     // handle error
    //     console.log(error);
    //   })
  },
  methods: {
    rafraichir() {
      this.dataHeroModif = null;
      axios.get('/aventurier')
        .then((response) => {
          // handle success
          console.log(response)
          this.heros = response.data;
          //TODO Recupere les données et les mettre dans heros
        })
        .catch((error) => {
          // handle error
          console.log(error);
        })
      //Recup les données après a une opération CRUD
    }
  }
}

</script>

<template>
  <header>

  </header>

  <main class="container">
    <h1>Vue Aventuriers</h1>
    <HeroForm @maj="rafraichir"></HeroForm>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 gy-2">
      <HeroCard @maj="rafraichir" @remplir="(remplirHero) => { dataHeroModif = remplirHero }" :hero="unHero"
        v-for="unHero in heros" :key="unHero.id"></HeroCard>
    </div>

    <HeroModif v-if="dataHeroModif != null" @maj="rafraichir" :propHero="dataHeroModif"></HeroModif>
  </main>
</template>

<style scoped></style>


